node_modules/
dist/
output/
.vscode/
src/codegeneration/python/classes/
src/codegeneration/typescript/model/
src/codegeneration/typescript/server/
src/codegeneration/csharp/model/
.mypy_cache/
*.js
tempqueries.txt